body {
	text-align: center;
}

#novaContent {
	background: #FFF url('background.jpg') top left repeat-x;
}

#fullcolumn {
	padding-top: 50px;
}

#midcolumn {
	padding-left: 30px;
	width: 650px !important;
}

#infoDiv {
	margin-top: 80px;
	margin-left: 45px;
	width: 300px;
	text-align: left;
	font-size: 14px;
	float: left;
}

.linkBlock {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	float: left;
	width: 460px;
}

.link img {
	position: relative;
	top: -20px;
	float: left;
	padding: 5px;
}

.link {
	clear: both;
	padding: 20px;
}

.link p.heading {
	font-size: 16px;
}

.link p.subText {
	font-size: 12px;
}

li p.heading {
	font-size: 120%;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: left;
}

li p.subText {
	margin-top: 0px;
	font-size: 80%;
	text-align: left;
	font-weight: normal;
}

.relatedLinks li {
	list-style-image: none !important;
}